  <html>
  <body>

  <div class="large-12 columns text-right">
    <p class="disclaimer">TradeMark &copy; Prediction Market 2016</p>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
  <script type="text/javascript" src="script.js"></script>




  </body>
</html>
