<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Virtual Prediction</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Ubuntu|Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    

  </head>
  <body>
