<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Virtual Prediction</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Ubuntu|Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

  <nav class="nav-bar">
    <div class="large-12 nav-bar-inner js--waypoint-1 columns">
      <div class="logo-container columns">
        <a class="logo-text" href="/">Dodona</a>
      </div>
        <!-- <a href="/">ANALYSIS</a>
        <a href="/">BLOG</a> -->
      <div class="buttons-container">
          <div class="tab-container">
            <a class="tab" href="#about">ABOUT</a>
            <a class="tab" href="#get-started">MARKETS</a>
          </div>
          <a class="header-colored" href="/"><i class="fa fa-sign-in"></i> Log In</a>
          <a class="header-bordered" href="/"><i class="fa fa-plus-square"></i> Sign Up</a>
      </div>
    </div>
  </nav>

<div class="landing-header">
  <div class="hero-box">
    <h1 class="hero-message"></h1>
      <div class="buttons-box">
        <a href="#get-started">Get Started</a> <a class="bordered" href="/feedback/">Feedback</a>
      </div>
  </div>
</div>
