<% include partials/landing-header %> <!-- Notice the header file is different -->
<section class="large-12 columns intro-container js--waypoint-2" id="about">
  <div class="row-1">
      <div class="icon-container large-4 columns">
        <img class="head-small" class="workflow" src="/images/i1.png" alt="">
        <h2 class="text-center">Learning and <br> awareness</h2>
        <p>Follow news and analysis on a topic you’re passionate about; acquire and fine-tune your knowledge about future events.</p>
      </div>
      <div class="icon-container large-4 columns">
        <img class="workflow" src="/images/i2.png" alt="">
        <h2 class="text-center">Community <br> building</h2>
        <p>Collaborate, contribute insight, and connect with people with a shared interests in future events.</p>
      </div>
      <div class="icon-container large-4 columns">
        <img class="workflow" src="/images/i3.png" alt="">
        <h2 class="text-center">Reputation as <br>thought leader</h2>
        <p>Show your successful predictions to the world and be known for your insights and clairvoyance.</p>
      </div>
  </div>
</section>

<section id="get-started" class="large-12 columns markets-container strip-padding">
    <!-- <h2 class="market-tagline text-center">MARKETS</h1> -->

    <div class="large-12 columns strip-padding color-hover">
        <div class="large-6 medium-6 strip-padding columns econ-bg">
        </div>
        <div class="large-6 medium-6 columns text-box">
          <h4 class="text-center">Economy</h4>
          <p>How do you think important government policies and global events will effect the macroeconomy? How might the actions of key stakeholders change the future of economic growth and development?</p>
          <a class="market-button" href="/show/">Join Market</a>
        </div>
    </div>

    <div class="large-12 columns strip-padding color-hover">
        <div class="large-6 medium-6 columns text-box">
          <h4 class="text-center">Disrutive Technology</h4>
          <p>Which novel technologies will upend established industries? How will business and society adapt to change?</p>
          <a class="market-button" href="/show/">Join Market</a>
        </div>
        <div class="large-6 medium-6 columns tech">

        </div>
    </div>


    <div class="large-12 columns strip-padding strip-padding color-hover">
        <div class="large-6 medium-6 columns start-bg">
        </div>
        <div class="large-6 medium-6 columns text-box">
          <h4 class="text-center">Start Up Companies</h4>
          <p>From ideas to impact, which fledgeling companies will grow to become game-changers in their industry? How is the startup landscape changing in key locations.</p>
          <a class="market-button" href="/show/">Join Market</a>
        </div>
    </div>


</section>

<% include partials/footer %>
