<% include partials/header %>
<section class="show-bg">
  <nav class="nav-bar">
    <div class="large-12 nav-bar-inner columns">
      <div class="logo-container columns">
        <a class="logo-text" href="/">Dodona</a>
      </div>
        <!-- <a href="/">ANALYSIS</a>
        <a href="/">BLOG</a> -->
      <div class="buttons-container">
          <div class="tab-container">
            <a class="tab" href="#about">ABOUT</a>
            <a class="tab" href="#get-started">MARKETS</a>
          </div>
          <a class="header-colored" href="/"><i class="fa fa-sign-in"></i> Log In</a>
          <a class="header-bordered" href="/"><i class="fa fa-plus-square"></i> Sign Up</a>
      </div>
    </div>
  </nav>

  <div class="show-message-box">
    <div class="show-message">
      <h3 class="text-center">Elections in Iceland <br> Pirate Party in the Lead</h3>
      <p class="text-center">That could leave the newly-established Viðreisn – meaning Regeneration – party in the role of kingmaker. Its share of the vote sat at around 11% in early counting.</p>
    </div>
  </div>
</section>

<section class="markets">
  <div class="large-4 columns img-box">
      <img src="/images/m1.jpg" alt="">
  </div>
  <div class="large-4 columns img-box">
      <img src="/images/m2.jpg" alt="">
  </div>
  <div class="large-4 columns img-box">
      <img src="/images/m3.jpg" alt="">
  </div>


</section>
<% include partials/footer %>
